body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f3f5ff;
}

.container {
    width: 450px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 14px;

    border-left: 8px solid #002395; /* France blue */
    border-right: 8px solid #ED2939; /* France red */

    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    color: #002395;
    font-size: 1.9rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #0A0F3D;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #ED2939;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #b30021;
}