
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #002395, #5176a9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #0A0F3D;
}

.auth-container {
    width: 420px;
    background: white;
    border-radius: 22px;
    padding: 40px 35px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.18);
    animation: fadeIn 0.45s ease-in-out;
    border-left: 7px solid #002395;
    border-right: 7px solid #ED2939;
}

.auth-container h2 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: #002395;
    font-weight: 700;
}

.auth-container p {
    text-align: center;
    color: #444;
    margin-bottom: 25px;
    font-size: 0.95rem;
}


.auth-container input[type="text"],
.auth-container input[type="email"],
.auth-container input[type="password"] {
    width: 100%;
    padding: 14px;
    margin: 10px 0 18px 0;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    font-size: 15px;
    transition: 0.25s ease;
}

.auth-container input:focus {
    border-color: #002395;
    box-shadow: 0 0 6px #00239566;
    outline: none;
}


.upload {
    display: block;
    margin-bottom: 18px;
    color: #002395;
    font-weight: 600;
    cursor: pointer;
}

.upload input {
    display: none;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    background: #ED2939;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
    transition: 0.25s ease;
}

.btn-primary:hover {
    background: #b00020;
}


.remember {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 18px 0;
}

.remember input[type="checkbox"] {
    accent-color: #ED2939;
    width: 18px;
    height: 18px;
}


.switch {
    margin-top: 15px;
    text-align: center;
    font-size: 0.95rem;
}

.switch a {
    color: #002395;
    font-weight: bold;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}


.error-box {
    background: rgba(237, 41, 57, 0.18);
    padding: 12px;
    border-radius: 8px;
    color: #ED2939;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}.signup-btn-home {
   display: block;
    width: 100%;         
    max-width: 260px;    
    margin: 25px auto;  
    padding: 15px 0;
    background: #ED2939;  
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;  
    box-shadow: 0 10px 25px rgba(237, 41, 57, 0.35);
    transition: 0.25s ease;
}
.signup-btn-home:hover {   background: #b00020; 
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(237, 41, 57, 0.45);
}