body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;

    /* France flag colors */
    border-left: 8px solid #002395; /* Blue */
    border-right: 8px solid #ed2939; /* Red */

    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #002395;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #002395;
}

input[type="text"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #ed2939; 
    color: white;
    border: none;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    background: #b30021;
}